body {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    height: 100vh; 
    margin: 0; 
    padding-top: 4px;
    background: url('image.png') no-repeat center center fixed; 
    background-size: 50%; 
}

body::before {
    content: ""; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; 
    filter: blur(10px); 
    z-index: -1; 
}

.TT{
    color : rgb(0, 0, 0);
    caption-side:top;
    text-align:center;
    font-weight:bold;
    font-size: 40px;
    font-family: 'Arial', sans-serif;
    transition: transform 0.4s ease-in-out,color 0.4s ease-in-out;
}

.TT:hover{
    transform: scale(1.1);
    color: rgb(38, 0, 255);
}

.t1{
    margin: auto;
    width:80%;
    text-align:center;
    border: 5px solid black;
    transition: transform 1s ease-in-out;
}

.t1:hover{
    transform: scale(1.1);
}

.t1 th,.t1 td{
    border: 2px solid black;
    padding : 15px;
    position: relative;
}

.t1 th{
    background-color: rgb(178, 255, 255);
    font-size: medium;
    transition-duration: .4s;
}
.Ch th{
    background-color: rgb(255, 172, 242) ;
}

.t1 td{
    
    background-color: rgb(245, 203, 203);
    
}

.lunch{
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}



.t1 td:hover{
    background-color: rgb(238,248,238); 
    transform: scale(0.90); 
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out; 
}

.t1 th:hover {
    background-color: rgb(94, 238, 94); 
    transform: scale(0.90); 
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out; 
}

.img {
    display: block; 
    margin-bottom: 5px; 
    width: auto; 
    max-width: 70%; 
    transition: transform 1s ease-in-out;
}

.img:hover {
    transform: scale(1.1); 
}





